/* Styling for the details page
 */

 .breadcrumb{
     display: flex;
     flex-flow: row nowrap;
     margin: 4rem 0;
     justify-content: space-between;
     column-gap: 2rem;
 }

 .breadcrumb .content{
     min-width: 7rem;
 }

 .breadcrumb .content .home-page{
     font-weight: 600;
     padding: 0 .2rem 0 0;
     color: black;
     font-size: .97rem;
     transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .breadcrumb .content .home-page:hover{
     color: gray;
     text-decoration: underline;
 }

 .breadcrumb .content .item{
     color: gray;
     padding: 0 0 0 .2rem;
 }

 .pagination {
    display: flex;
    flex-flow: row nowrap;
    font-size: .96rem;
    text-align: right;
    min-width: 8.5rem;
    justify-content: flex-end;
}

.pagination .separator {
    color: gray;
    font-weight: bold;
}

.pagination .links{
    padding: 1px 5px;;
    margin: 0;
    font-size: .97rem;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pagination .links i{
    font-size: .9rem;
    padding: 0px 6px;
}

.pagination .links:hover{
    color: gray;
    text-decoration: underline;
}

.product-details{
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


/* product images */
.product-images{
    width: 60%;

}

.product-description p{
    text-align: justify;
    font-size: .9rem;
    color: rgb(24, 23, 23);
    line-height: 1.3rem;
}

.image-container{
    width: 100%;
}

.image-container img{
    max-height: 590px;
    object-fit: cover;
}

.image-selector{
    padding: 1.5rem 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-selector img{
    width: 50;
    height: 50;
    cursor: pointer;
    object-fit: cover;
    transition:.4s all ease;
}

.image-selector img:hover{
    transform: scale(1.1, 1.1);
}

.image-container img{
    min-width: 70%;
    max-width: 80%;
}

.product-more-details{
    width: 35%;
    padding: 0;
}

.product-more-details .content{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: .9rem;
}

@media screen and (max-width: 1000px) {
    .product-more-details{
        width: 60%;
    }
}

@media only screen and (max-width: 767px){
    .product-images{
        min-width: 100%;
    }
    
    .product-more-details{
        width: 100%;
    }

    .image-container img{
        min-width: 100%;
        max-width: 100%;
    }
}

.product-more-details .content .price{
    font-size: 1.1rem;
    padding: .5rem 0;
    font-weight: 500;
}

/* The right side content and flow area */

.product-title h1{
    margin: 0;
    text-transform: capitalize;

}

.sku{
    text-transform: uppercase;
    color:rgb(24, 23, 23);
}

.size-selector{
    display: flex;
    flex-direction: column;
    padding: .2rem 0;
    width: 100%;
}

/* color selector */

.color-selector{
    padding: 1rem 0;
}

.color-selector .boxes{
    display: flex;
    flex-flow: row nowrap;
    gap: .3rem;
    padding: .6rem 0;
}

.color-selector .boxes .particular-box{
    padding: 0 .5rem;
    position: relative;
}

.color-selector .boxes .particular-box input[type=radio]{
    /* display: none;
    opacity: 0; */
}

.color-selector .boxes .particular-box input{
    position:absolute;
    cursor: pointer;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    height: 2.5rem;
    width: 2.5rem;
    transform: translate(-2px, -10px);
}

.color-selector .boxes .particular-box .color-box-container .color-box{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .1s cubic-bezier(0.165, 0.84, 0.44, 1); 
    top: 0;
    left: 0;
    border-radius: 50%;
    position: relative;
}

.color-box-inside{
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.color-selector .boxes .particular-box:hover input ~ .color-box{
    box-shadow: .2rem .2rem 1rem 0 rgba(0, 0, 0, .5);
    cursor: pointer;
}



.particular-box input[type=radio]:checked ~ .color-box-container .color-box .color-box-inside{
    display: block;
}


.color-box:hover{
    box-shadow: .1em .1rem .2rem 0 rgba(0, 0, 0, .5)
}

/* Sale Quantity */
.sale-quantity{
    display: flex;
    flex-flow: column nowrap;
}

.sale-quantity input{
    width: 3rem;
    text-align: center;
}

.plus-minus-button{
    color: gray;
    padding: 1rem;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.plus-minus-button:hover{
    color: black;
}


/* action buttons */

.action-buttons{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.sales-item-button-detail{
    background-color: black;
    border: 2px solid black;
    margin: 0;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sales-item-button-detail:hover{
    background-color: transparent;
    color: black;
}

.sales-item-button-detail-bordered{
    background: transparent;
    color: black;
}

.sales-item-button-detail-bordered:hover{
    background: black;
    color: white;
}

